/* styles.css */
:root {
    --backgound: #f4f4f4;
    --accent: #333;
    --accent-text: #fff;
    --accent-borders: #fff;
}

body {
    background-color: var(--backgound);
    color: var(--accent);
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    margin: 0;
}

a {
    color: var(--accent);
}

section {
    margin: 20px 0;
}

/* Start of header */
    header {
        background-color: var(--accent);
        color: var(--accent-text);
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-content {
        display: flex;
        align-items: center;
    }

    .profile-pic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: var(--accent-borders) 3px solid;
        margin: 0px 20px;
    }

    .header-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header h1 {
        margin: 0;
        font-weight: 700;
    }
/* End of Header */

/* Start of Navbar */
    nav ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    nav ul li {
        margin: 0 10px;
    }

/* Hover Color-change */
    nav ul li:hover {
        background-color: #1a1a1a;
    }

    nav ul li a {
        color: var(--accent-text);
        text-decoration: none;
    }
/* End of Navbar */

/* Start of Project-Card */
    .projects-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }    

    .project-card {
        background-color: var(--accent-borders);
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 300px;
        box-sizing: border-box;
        transition: transform 0.3s;
    }

    .project-card a {
        text-decoration: none;
    }

/* Card hover scale */
    .project-card:hover {
        transform: scale(1.05);
    }

    .project-card h3 {
        margin-top: 0;
    }

    .project-card img {
        max-width: 100%;
        border-radius: 8px;
        margin: 10px 0;
    }

    .project-card p {
        flex-grow: 1;
    }
/* End of Project-Card */

footer {
    text-align: center;
    padding: 10px 0;
    background-color: var(--accent);
    color: var(--accent-text);
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}
